/*框架2.0的组件样式库*/
/*update by sunhao */
/*2016.9.9*/
/*版本 0.1*/


/*********************css样式reset****************/
* {
    vertical-align: baseline;
    font-weight: inherit; 
    font-family: inherit; 
    font-style: inherit;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

* {
	font-size: 12px;
	color: #7a8895;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}


/*********************退出控件****************/
.vortex-exit{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 160px;
    margin-top: -90px;
    margin-left: -160px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    z-index: 1002;
}

    .vortex-exit .vortex-exit-title{
        height: 50px;
        line-height: 50px;
        width: 100%;
        background-color: #5c9df5;
        border-radius: 4px 4px 0 0;
        text-align: center;
        color: white;
        font-size: 14px;
    }

    .vortex-exit .vortex-exit-content{
        height: 110px;
        width: 100%;
        display: table;
    }

        .vortex-exit .vortex-exit-content > div{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            background-color: white;
        }

            .vortex-exit .vortex-exit-content > div > div{
                display: inline-block;
                height: 30px;
                line-height: 30px;
                padding: 0 20px;
                margin: 0 10px;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                background-color: #5c9df5;
            }
