
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478134667065'); /* IE9*/
  src: url('iconfont.eot?t=1478134667065#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478134667065') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478134667065') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478134667065#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tabs-home:before { content: "\e613"; }

.icon-search:before { content: "\e627"; }

.icon-close:before { content: "\e621"; }

.icon-cube:before { content: "\e619"; }

.icon-triangle-down:before { content: "\e609"; }

.icon-home:before { content: "\e605"; }

.icon-gongju:before { content: "\e62c"; }

.icon-close1:before { content: "\e60e"; }

.icon-add:before { content: "\e625"; }

.icon-del:before { content: "\e62d"; }

.icon-full-screen:before { content: "\e624"; }

.icon-setting:before { content: "\e612"; }

.icon-modify-pwd:before { content: "\e604"; }

.icon-measure:before { content: "\e626"; }

.icon-cowboy:before { content: "\e61a"; }

.icon-user-info:before { content: "\e60a"; }

.icon-oprate-count:before { content: "\e606"; }

.icon-forward-btn:before { content: "\e66a"; }

.icon-minus:before { content: "\e62a"; }

.icon-lianjie:before { content: "\e622"; }

.icon-alarm:before { content: "\e61c"; }

.icon-add-water:before { content: "\e630"; }

.icon-pool:before { content: "\e631"; }

.icon-user-img:before { content: "\e60b"; }

.icon-toilet:before { content: "\e632"; }

.icon-factory:before { content: "\e633"; }

.icon-recharged:before { content: "\e634"; }

.icon-skin:before { content: "\e608"; }

.icon-icon2:before { content: "\e62e"; }

.icon-icon3:before { content: "\e62f"; }

.icon-arrow-up:before { content: "\e600"; }

.icon-guide:before { content: "\e61f"; }

.icon-signout:before { content: "\e601"; }

.icon-arrow-left:before { content: "\e60d"; }

.icon-shutdown:before { content: "\e61d"; }

.icon-triangle-up:before { content: "\e60c"; }

.icon-person:before { content: "\e628"; }

.icon-ring:before { content: "\e602"; }

.icon-transfer:before { content: "\e635"; }

.icon-arrow-down:before { content: "\e607"; }

.icon-dot:before { content: "\e610"; }

.icon-teach:before { content: "\e616"; }

.icon-arrow-right:before { content: "\e60f"; }

.icon-play:before { content: "\e63c"; }

.icon-car:before { content: "\e629"; }

.icon-parking:before { content: "\e636"; }

.icon-camera:before { content: "\e637"; }

.icon-gongchang:before { content: "\e638"; }

.icon-menu:before { content: "\e603"; }

.icon-toggle-change:before { content: "\e61e"; }

.icon-paobu:before { content: "\e63b"; }

.icon-road:before { content: "\e639"; }

.icon-pause:before { content: "\e63e"; }

.icon-folding:before { content: "\e611"; }

.icon-airport:before { content: "\e61b"; }

.icon-collection:before { content: "\e63a"; }

.icon-circle:before { content: "\e617"; }

.icon-bucket:before { content: "\e620"; }

.icon-chahao:before { content: "\e62b"; }

.icon-change:before { content: "\e618"; }

.icon-check:before { content: "\e623"; }

.icon-backward-btn:before { content: "\e63d"; }